<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>新增规则</title>
		<script src="../../fastdev/fastDev-import.js"></script>
		<script src="ruleAdd.js"></script>
	</head>
	<body>
	  <form id="ruleForm" itype="Form" saveInstance="true" action="dataright_addRule.action" initSource='dataright_initForm.action' onSubmitSuccess="submitSuccess()"  submitJson="false">
	    <div itype="TextBox" type="hidden" id="rule.ruleId" value="0"></div>
	    <table class="ui-form-table">
	       <tr>
	           <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>规则名称：</td>
	           <td class="ui-form-table-dd" colspan="3"><div itype="TextBox" id="rule.ruleName" rule="required;MaxLength:128" width="100%"></div></td>
	       </tr>
	       <tr>    
	           <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>业务编码：</td>
	           <td class="ui-form-table-dd"><select id="rule.bizCode" inside="false" itype="Select" rule="required" width="100%"><option text="-请选择-"></option></select></td>
	           <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>规则值来源：</td>
	           <td class="ui-form-table-dd"><select id="rule.sourceType" inside="false" itype="Select" rule="required" width="100%"><option text="-请选择-"></option></select></td>
	       </tr>
           <tr>
	           <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>规则值：</td>
	           <td class="ui-form-table-dd" colspan="3"><div itype="TextBox" id="rule.ruleValue" type="textarea" height="88px" width="100%" rule="MaxLength:512"></div></td>
	       </tr>                
	    </table>
	  </form>	
	</body>
</html>
