<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../../library/themes/base/css/main.css" rel="stylesheet"
			type="text/css" />
		<script src="../../fastdev/fastDev-import.js"></script>
        <script src="../../fastdev/common.js"></script>
		<script type="text/javascript" src="passwordModify.js"></script>
		<title>修改密码</title>
		<!-- <script type="text/javascript">
        	$(function(){
        		//180:菜单栏宽度，7：收缩条的宽度，200：组织树宽度，2*10：显示的DIV容器PADDING宽度
        		var serarchFromWidth = screen.width-180-7-2*10-23;
        		$("#modifyPasswordform").css("width",serarchFromWidth);
        	});
        </script> -->
	</head>
	<body>
		<div class="rightbody">
			<!-- 标题 
			<div class="content_title">
				<img src="../../themes/page/images/ico_management.gif" />
				修改密码
			</div>-->
			<!--form表单 -->
			<div id="modifyPasswordformdiv">
					<form id="modifyPasswordform" itype="Form"   saveInstance="true" action="user_modifyPassWord.action" 
					onAfterInitRender="loadCode()"  onSubmitSuccess="onSubmitSuccess()"  submitJson="false" >
					    <!-- <div itype="TextBox" type="hidden" id="oldCode"></div> -->
				       <table class="ui-form-table">
				           <tr>
				               <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>账号：</td>
				               <td class="ui-form-table-dd"><input itype="TextBox" id="userid"  width="100%" rule="required;MaxLength:20"></td>
				             
				           </tr>
				           <tr>
				               <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>旧密码：</td>
				               <td class="ui-form-table-dd"><input itype="TextBox"   id="oldPassword" type="password"  width="100%"  rule="required" rule="MaxLength:20"></td>                              
				           </tr>
				           <tr>
				               <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>新密码：</td>
				               <td class="ui-form-table-dd"><input  itype="TextBox"  id="newPassword" type="password" width="100%"  rule="required"  rule="MaxLength:20"></td>                              
				           </tr>
				           <tr>
				               <td class="ui-form-table-dt" style="width:100px"><span class="ui-red">*</span>再次输入新密码：</td>
				               <td class="ui-form-table-dd"><input itype="TextBox"   id="repeatPassword" type="password" width="100%"  rule="required"  rule="MaxLength:20" ></td>                              
				           </tr>
				            </table>
				           </form>	
				        <table class="ui-form-table">   
				           <tr>
				           <td></td> <td><input itype="TextBox" id="warntip" readonly="true" width="100%" type="hidden"></td>                              
				           	</tr>	
				       </table>
				            <div id="panel-buttons-d719a9b6" class="ui-window-button-panel">
				         <!--   <tr>
				<td class="ui-form-table-dd" align="right" colspan="6">
				<div itype="Button" text="修改" iconCls="icon-search"
					onclick="tijiao()" width="100px"></div>&nbsp;
				<div itype="Button" text="重置" iconCls="icon-reset"
					onclick="doReset()" width="100px"></div>
			    </td>
			   </tr> -->
          </div>    
				 
				   	
			
			</div>
			<!-- 按钮 -->
			
		</div>
	</body>
</html>