<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>用户管理</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../../library/themes/base/css/main.css" rel="stylesheet"
			type="text/css" />
		<script src="../../library/jquery-1.5.1.min.js"></script>
		<script src="../../library/history/control-1.2.js"></script>
		<script type="text/javascript" src="user_manage.js"></script>
		<script type="text/javascript">
        	$(function(){
        		//180:菜单栏宽度，7：收缩条的宽度，201：组织树宽度，2*10：显示的DIV容器PADDING宽度,22：为框架的边线宽度加下拉滚动条的宽度总和
        		var serarchFromWidth = screen.width-180-7-2*10-22-201;
        		//判断是否为IE6浏览器，因为IE6下拉滚动的宽度为20,所以要多减4
        		if ($.browser.msie && ($.browser.version == "6.0") && !$.support.style){
        			serarchFromWidth = serarchFromWidth-4;
        		}
        		$("#userseach").css("width",serarchFromWidth);
        		$("#usergrid").css("width",serarchFromWidth);
        	});
        </script>
        <style type="text/css">
body { behavior: url(../../library/themes/base/css/csshover.htc); }
</style>
	</head>

	<body>
		<div class="maindiv" >
			<div class="leftdiv">
				<div class="treetitle">
					组织结构
				</div>
				<div id="orgtree"></div>
			</div>
			<div class="rightdiv">
				<div class="content_title"><img src="../../themes/page/images/ico_management.gif"/>用户管理</div>
				<div id="userseach"></div>
				<div class="clearfix"></div>
				<div id="buttons"></div>
				<div class="clearfix"></div>
				<div id="usergrid"></div>
			</div>
		</div>
	</body>
</html>
