<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>增加岗位与角色的关系</title>
<script src="../../fastdev/fastDev-import.js"></script>
<script type="text/javascript" src="addPositionRole.js"></script>
<style type="text/css">
		html, body {
			height:100%;
		}
</style>
</head>
<body>
	<div class="ui-layout" id="mainDiv" style="height:98%;padding-left:5px;padding-top:5px;">
		<div class="ui-layout-center" style="width: 97%;height:96.6%;padding:5px 5px 0;">
			<form id="searchForm" itype="Form" requestType="post" saveInstance="true" submitJson="false">
				<table class="ui-form-table">
					<tr valign="middle">
						<td class="ui-form-table-dt" style="width:100px">岗位名称：</td>
						<td class="ui-form-table-dd"><div itype="TextBox" id="position.posiName" width="100%"></div></td>
						<td class="ui-form-table-dt" style="width:100px">岗位代码：</td>
						<td class="ui-form-table-dd"><div itype="TextBox" id="position.posiCode" width="100%"></div></td>
						<td class="ui-form-table-dd">
							<div itype="Button" text="查询" iconCls="icon-search" onclick="submit()"></div>
							<div itype="Button" text="重置" iconCls="icon-reset" onclick="reset()"></div>
						</td>
					</tr>
				</table>
			</form>
			<div class="datagrid" itype="DataGrid" allowAutoFillRow="false" height="302px" id="datagrid" saveInstance="true" showCheckColumn="true" initSource="position_queryNoPositionMembers.action?moduleId=M5&modeId=maintenancemen" showSeqColumn="true"  onAfterConstruct="afterConstruct()">
				<div width="0" name="positionId" hidden="true"></div>
				<div width="33%" name="posiName" text="岗位名称"></div>
				<div width="33%" name="posiCode" text="岗位代码"></div>
				<div width="34%" name="orgName" text="所属组织"></div>
			</div>
		</div>
	</div>
</body>
</html>