<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>分配权限</title>
	<link href="../../themes/page/css/index.css" rel="stylesheet" type="text/css" /> 
	<script src="../../fastdev/jquery-1.5.1.min.js"></script>
	<script src="../../fastdev/json2.min.js"></script>
	<script src="../../fastdev/fastdev.js"></script>
	<script src="../../js/pagecommon.js"></script>
	<script type="text/javascript" src="distributionLimitRights.js"></script>
</head>
<body style="width: 400px">
<div id="roleNameTextBox"></div>
<div id="tree"></div>
<div id="form"></div>
<div id="buttons"></div>
</body>
</html>