<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>绑定ip</title>
        <link href="../../themes/page/css/index.css" rel="stylesheet"
			type="text/css" />
		<script src="../../fastdev/jquery-1.5.1.min.js"></script>
		<script src="../../fastdev/fastdev.js"></script>
        <script src="../../js/pagecommon.js">
        </script>
        <script src="ipbind.js">
        </script>
    </head>
    <body>
        <div class="rightbody">
            <div class="content_title" id="content_title">
                <img src="../../themes/page/images/ico_management.gif"/>绑定ip
            </div>
            <div id="operationDiv">
            </div>
            <hr/>
            <div id="datagridDiv">
            </div>            
        </div>
    </body>
</html>