<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>修改用户</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="../../fastdev/fastDev-import.js"></script>
		<script type="text/javascript" src="changeuserorg.js"></script>
	</head>
	<body>
		<div id="usertree" itype="Tree" saveInstance="true" showIco="true"
			width="100%" height="380px" rootValue="所有组织"
			initSource="org_initFirstGradeOrgTree.action?moduleId=M32&modeId=view"
			asyncDataSource="org_initGradeOrgTree.action?moduleId=M32&modeId=view"
			 topParentid="-1"
			openFloor=2></div>
	</body>
</html>