<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../../themes/page/css/index.css" rel="stylesheet"
			type="text/css" />
		<script src="../../fastdev/jquery-1.5.1.min.js"></script>
		<script src="../../fastdev/fastdev.js"></script>
		<script type="text/javascript" src="passwordModify.js"></script>
		<title>修改密码</title>
		<script type="text/javascript">
        	fastDev(function(){
        		//180:菜单栏宽度，7：收缩条的宽度，200：组织树宽度，2*10：显示的DIV容器PADDING宽度
        		var serarchFromWidth = screen.width-180-7-2*10-23;
        		fastDev("#modifyPasswordform").css("width",serarchFromWidth);
        	});
        </script>
	</head>
	<body>
		<div class="rightbody">
			<!-- 标题 -->
			<div class="content_title">
				<img src="../../themes/page/images/ico_management.gif" />
				修改密码
			</div>
			<!--form表单 -->
			<div id="modifyPasswordform" style="width:300px;"></div>
			<!-- 按钮 -->
			<div id="buttons"></div>
		</div>
	</body>
</html>