<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>调度任务管理</title>
<link href="../../themes/page/css/index.css" rel="stylesheet" type="text/css" />
<script src="../../fastdev/fastDev-import.js"></script>


</head>
<body style="background-color: #eee;">
	<div id="errorcontent" style="border:1px solid #eee;margin: 20px;">
	</div>
	
	<script type="text/javascript">
	fastDev("#errorcontent").elems[0].innerHTML = window.parent.errorcontent;
</script>
</body>
</html>